__pycache__/
.cache/
.env
.env.local
.env.production
.idea/
.venv/
.vscode/
*.bak
*.db
*.iml
*.log
*.log
*.pid
*.pyc
*.pyd
*.pyo
*.swp
db.sqlite3
docker-compose.override.yml
logs/
migrations/
pg_data/
pgdata/
pip-selfcheck.json
secrets.json
secrets.toml
